* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: 2px solid darkorange;
    border-radius: 10px;
    background-color: brown;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 10px;
}